html body {
    height: 100%;
    margin: 0%;
}

.navbar {
    background-color: black;

    position: fixed;
    width: 100%;

    overflow: hidden;
    top: 0;
}

nav {
    opacity: 0.8;


}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

nav ul li {
    padding: 20px;

}

nav ul li a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    color: white;

}

nav a:active {
    background-color: white;
    color: black;
}

#name img {
    height: 500px;
    float: left;
    padding-right: 50px;
    width: 50%;
}

#name {
    color: white;
    font-size: 3em;
    font-family: cursive;
    height: 450px;


}

/*#name {
  
     box-shadow: 0 0 10px white;
   

}*/

#name em {
    color: orangered;
}

#name h2 {
    padding-top: 80px;
    color: blue;
}

#home {
    height: 100vh;
    background-color: black;
    padding-top: 150px;
}

#projects {
    height: 100vh;
    padding-top: 50px;

}


#about {
    height: 100vh;
}

#projects img {
    height: 300px;
    padding: 0px;
    border-radius: 20% 20% 0 0;
}

/*.allprojects {
    display: flex;
    justify-content: space-between;
    margin: auto;

    padding: 20px;
    height: 350px;

}
*/
.project1,
.project2,
.project3 {
    height: 500px;
    width: fit-content;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    opacity: 0.8;
    border-radius: 20%;
}

#projects p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#projects h2 {
    color: orangered;
    text-align: center;
    font-size: 2em;
}

#projects ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

@media screen and (min-width: 480px) and (max-width: 1353px) {
    #projects ul {
        display: flex;
        flex-direction: column;

    }
    #projects{
        margin-bottom: 150px;
    }

    #projects ul li {
        padding: 20px;
    }

    
    #projects,
    #about {
        height: inherit;
    }

    #name img {
        width: 100%;
        padding-bottom: 50px;
    }

    #home {
        background-color: black;
        display: flex;
        flex-direction: column;
        height: 120vh;
    }

    #name {
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
     
}

#projects p a {
    text-decoration: none;
    color: blue;

}

h1 {
    color: blue;
    font-size: 3em;
    text-align: center;
}

#about {
    height: 100vh;
    padding-top: 50px;
    background-image: url('./images/aboutbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}

.me {
    margin: auto;
    width: 80%;
    text-align: center;

    font-size: 2em;
}

.me ul li {
    list-style: none;
}

#footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer {
    background-color: orangered;
    margin-top: 110px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 150px;
    position: relative;
    color: white;
    text-align: center;
    bottom: 0px;
    width: 100%;
    
}

#footer h2 {
    color: blue;
}